{% extends "_layout" %}
{% block content %}
  <div>

      <h3>{{entry.title}}</h3>
      <p>{{ entry.body }}</p>

      {% for asset in entry.featureImage %}
        <img src="{{ asset.url('featureImage') }}">
      {% endfor %}

      <p style="text-align: center">{{ entry.emailAddress }}</p>

      <p style="text-align: center">{{ entry.phoneNumber }}</p>

  {% for class in craft.entries.section('classes').relatedTo(entry) %}
    <a href='{{class.url}}'>{{class.title}}</a>
  {% endfor %}
  </div>




{% endblock %}
