{% extends "_layout" %}
{% block content %}
  <div>
    {% for entry in craft.entries.section('faculty')%}
      <h3>{{entry.title}}</h3>
      <p>{{ entry.body }}</p>

      {% for asset in craft.entries.section('faculty').relatedTo(entry) %}
        <img style="text-align:center; height:200px; width:200px"src="{{ asset.url('featureImage') }}">
      {% endfor %}

      <p style="text-align: center">{{ entry.emailAddress }}</p>

      <p style="text-align: center">{{ entry.phoneNumber }}</p>

    {% endfor %}
  </div>




{% endblock %}
