{% extends "_layout" %}



{% block content %}

					<!-- Page Contents-->
					<main class="page-content">

						<section class="section-bottom-66">
							<div class="shell">
													<!-- Responsive-tabs-->
													<div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
														<ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
															{% for category in craft.categories.group('facultyType') %}
															<li><a href="#{{ category.title }}">{{ category.title }}</a></li>
															{% endfor %}
															<li><a href="#By Program">By Program<a></li>
														</ul>

<!-- FACULTY and staff TAB -->

													<div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
															{% for category in craft.categories.group('facultyType') %}
															<div class="text-center text-md-left">
																<div class="range range-xs-center section-15">


																	{% for entry in craft.entries.section('faculty').relatedTo(category).order('title asc') %}
																		{% if not entry.temporaryStaff %}
																			{% include "_includes/_headShot.html" %}
																		{% endif %}
																	{% endfor %}



																</div>
															</div>
															{% endfor %}



<!-- BY PROGRAM TAB -->

															<div class="text-center text-md-center">
																<div class="faculty-program-listing">
																{% for program in craft.entries.section('programs').order('title asc') %}
																<div class="faculty-listing cell-sm-12 cell-md-12">
																	<h1>{{program.title}}</h1>
																	<hr class="divider bg-red">
																	{% for class in craft.entries.section('classes').relatedTo(program).order('title asc') %}
																	<h4>{{class.title}}</h4>
																	<div class="faculty-list__item">
																				{% for entry in craft.entries.section('faculty').relatedTo(class).order('title asc') %}

																				<div class="margin-bottom-40px  cell-sm-6 cell-md-6">
																					<a href="{{ entry.url }}">
																					{% if entry.featureImage | length %}
																						{% for asset in entry.featureImage %}
																						<img class="img-responsive reveal-inline-block" src="{{ asset.url('profileImage') }}" width="270" height="270" alt="">
																						{% endfor %}
																					{% else %}
																						{% for asset in imageMissing.featureImage %}
																						<img class="img-responsive reveal-inline-block" src="{{ asset.url('profileImage') }}" width="270" height="270" alt="">
																						{% endfor %}
																					{% endif %}
																					<div class="offset-top-20">
																						<div>
																							<h5 class="text-bold text-primary">{{entry.title}}</h5>
																						</div>
																					</div>
																					</a>
																					<address class="contact-info">
																						<ul class="list-unstyled p">
																							{% if entry.phoneNumber | length %}
																							<li><a class="reveal-inline-block text-middle" href="callto:{{entry.phoneNumber}}">{{entry.phoneNumber}}</a>
																							</li>
																							{% endif %}
																							{% if entry.emailAddress | length %}
																							<li><a class="reveal-inline-block text-middle" href="mailto:{{entry.emailAddress}}">{{entry.emailAddress}}</a>
																							</li>
																							{% endif %}
																						</ul>
																					</address>
																				</div>
																				{% endfor %}
																		</div>
																		{% endfor %}
																	</div>
																	{% endfor %}
																</div>
																</div>





								</div>
						</section>
					</main>
{% endblock %}
