{% extends "_layout" %}


{% block header %}

<!-- Classic Breadcrumbs-->
<section class="breadcrumb-classic">
	<div class="shell section-34 section-sm-50">
		<div class="range range-lg-middle">
			<div class="cell-lg-5 reveal-lg-block text-lg-left">
				<h2><span class="big">{{ entry.title }}</span></h2>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block content %}



<body>

					<!-- Page Contents-->
					<main class="page-content">
						<!--Section Real Estate Agents-->
						<section class="section-98 section-sm-110 section-bottom-66">
							<div class="shell">

													<!-- Responsive-tabs-->
													<div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
														<ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
															{% for category in craft.categories.group('facultyType') %}
															<li>{{ category.title }}</li>
															{% endfor %}
															<li>By Program[S]</li>
														</ul>

<!-- FACULTY and staff TAB -->

													<div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
															{% for category in craft.categories.group('facultyType') %}
															<div class="text-center text-md-left">
																<div class="range range-xs-center section-34">


																	{% for entry in craft.entries.section('faculty').relatedTo(category).order('title asc') %}
																		{% if not entry.temporaryStaff %}
																	<div class="cell-sm-6 cell-md-3">
																		{% if entry.featureImage | length %}
																			{% for asset in entry.featureImage %}
																			<img class="img-responsive reveal-inline-block" src="{{ asset.url('profileImage') }}" width="270" height="270" alt="">
																			{% endfor %}
																		{% else %}
																			{% for asset in imageMissing.featureImage %}
																			<img class="img-responsive reveal-inline-block" src="{{ asset.url('profileImage') }}" width="270" height="270" alt="">
																			{% endfor %}
																		{% endif %}
																		<div class="text-md-left offset-top-20">
																			<div>
																				<h5 class="text-bold text-primary"><a href="{{ entry.url }}">{{ entry.title }}</a></h5>
																			</div>
																		</div>
																		<address class="contact-info text-md-left">
																			<ul class="list-unstyled p">
																				<li class="reveal-block"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a class="reveal-inline-block text-middle" href="callto:{{entry.phoneNumber}}">{{entry.phoneNumber}}</a>
																				</li>
																				<li class="reveal-block"><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="reveal-inline-block text-middle" href="mailto:{{entry.emailAddress}}">{{entry.emailAddress}}</a>
																				</li>
																			</ul>
																		</address>
																	</div>
																	{% endif %}
																	{% endfor %}



																</div>
															</div>
															{% endfor %}


<!-- BY PROGRAM TAB -->
															<div class="text-center text-md-center">
																{% for program in craft.entries.section('programs').order('title asc') %}
																<div class="cell-sm-12 cell-md-12">
																	<h1>{{program.title}}</h1>
																	{% for class in craft.entries.section('classes').relatedTo(program).order('title asc') %}
																	<h4>{{class.title}}</h4>
																	<hr class="hr hr-gradient">
																	<div class="range range-xs-center section-34">
																				{% for entry in craft.entries.section('faculty').relatedTo(class).order('title asc') %}
																				<div class="cell-sm-6 cell-md-3">
																					{% if entry.featureImage | length %}
																						{% for asset in entry.featureImage %}
																						<img class="img-responsive reveal-inline-block" src="{{ asset.url('profileImage') }}" width="270" height="270" alt="">
																						{% endfor %}
																					{% else %}
																						{% for asset in imageMissing.featureImage %}
																						<img class="img-responsive reveal-inline-block" src="{{ asset.url('profileImage') }}" width="270" height="270" alt="">
																						{% endfor %}
																					{% endif %}
																					<div class="text-md-left offset-top-20">
																						<div>
																							<h5 class="text-bold text-primary"><a href="{{ entry.url }}">{{entry.title}}</h5></a>
																						</div>
																					</div>
																					<address class="contact-info text-md-left">
																						<ul class="list-unstyled p">
																							<li><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <a class="reveal-inline-block text-middle" href="callto:{{entry.phoneNumber}}">{{entry.phoneNumber}}</a>
																							</li>
																							<li><span class="icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="reveal-inline-block text-middle" href="mailto:{{entry.emailAddress}}">{{entry.emailAddress}}</a>
																							</li>
																						</ul>
																					</address>
																				</div>
																				{% endfor %}
																		</div>
																		{% endfor %}
																	</div>
																	{% endfor %}

																</div>




								</div>
						</section>
					</main>
{% endblock %}
