<style type="text/css">
.swiper-slide {
  background-image: url({{asset.url('featureImageSmall')}});
  background-size: cover !important;
  background-position: center center !important;
}
@media screen and (min-width: 700px) {
  {% if asset.imageCropDirection == "centerCenter" %}
  .swiper-slide {
    background-image: url({{asset.url('featureImage')}});
  }
  {% else %}
  .swiper-slide {
    background-image: url({{asset.url('featureImageTop')}});
  }
  {% endif %}
}
</style>
<div class="swiper-slide swiper-slide-overlay-disable swiper-slide-center"></div>
