{% set nav = craft.amNav.getNavRaw("mainMenu") %}
				{% macro addNodeToNavigation(node, index) %}
				    {%- set nodeClasses = ['nav-list'] -%}
				    {%- if node.hasChildren -%}
				        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
				    {%- endif -%}
				    {%- if node.active or node.hasActiveChild -%}
				        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
				    {%- endif -%}
				    {%- if node.level == 1 and index == 1 -%}
				        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
				    {%- endif -%}
				    {%- if node.listClass|length -%}
				        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
				    {%- endif -%}

				    <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
				        <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
				        {% if node.hasChildren %}
				            <ul class="nav__level{{ (node.level + 1) }}">
				                {% for subnode in node.children %}
				                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
				                {% endfor %}
				            </ul>
				        {% endif %}
				    </li>
				{% endmacro %}


{% cache globally unless currentUser %}
<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
	<div class="shell">

		<div class="range range-sm-center text-lg-left">
			<div class="cell-sm-8 cell-md-12">
				<div class="range range-xs">
					<div class="cell-xs-6 text-xs-left cell-md-3 cell-lg-3">
						<!-- Footer brand-->
						{% for asset in footer.logo %}
						<div class="footer-brand"><a href="index.html"><img src='{{asset.url}}' alt=''/></a></div>
						{% endfor %}
					</div>
					<div class="cell-xs-6 cell-md-3 offset-md-top-0 text-md-left cell-lg-3 ">
						<h6 class="text-uppercase text-spacing-60">{{ footer.footerTitle }}</h6>
						<p>{{ footer.footerAddress }}</p>
						<p>(P) {{ footer.phoneNumber }}
							{% if footer.faxNumber | length %}
							<br /> (F) {{ footer.faxNumber }}
							{% endif %}
						</p>
					</div>
					<div class="cell-xs-6 text-xs-left cell-md-3 cell-lg-3">
						<h6 class="text-uppercase text-spacing-60">{{ footer.footerText }}</h6>
						{{ footer.districtPartners }}
					</div>

					<div class="cell-xs-6 cell-md-3 offset-xs-top-66 offset-md-top-0 cell-lg-3 cell-lg-push-1 offset-lg-top-0">
						<h6 class="text-uppercase text-spacing-60">Connect With Us</h6>
						<div class="social-media-icons">
								{% for block in footer.socialMedia %}
									{% if block.type == "socialMediaBlock" %}
									<a class="social-media-icon {{ block.socialName }}" href= "{{block.address}}">{{ block.socialName }}</a>
									{% endif %}
								{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="shell offset-top-50">
		<div class="small text-lighter">
			<span id="copyright-year"></span> Kent City Schools
			{{footer.copyrightText}}
		</div>
	</div>
</footer>
{% endcache %}
