{% set nav = craft.amNav.getNavRaw("mainMenu") %}
				{% macro addNodeToNavigation(node, index) %}
				    {%- set nodeClasses = ['nav-list'] -%}
				    {%- if node.hasChildren -%}
				        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
				    {%- endif -%}
				    {%- if node.active or node.hasActiveChild -%}
				        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
				    {%- endif -%}
				    {%- if node.level == 1 and index == 1 -%}
				        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
				    {%- endif -%}
				    {%- if node.listClass|length -%}
				        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
				    {%- endif -%}

				    <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
				        <a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
				        {% if node.hasChildren %}
				            <ul class="nav__level{{ (node.level + 1) }}">
				                {% for subnode in node.children %}
				                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
				                {% endfor %}
				            </ul>
				        {% endif %}
				    </li>
				{% endmacro %}


<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">
	<div class="shell">

		<div class="range range-sm-center text-lg-left">
			<div class="cell-sm-8 cell-md-12">
				<div class="range range-xs">
					<div class="cell-xs-7 text-xs-left cell-md-4 cell-lg-4 cell-lg-push-4">
						<h6 class="text-uppercase text-spacing-60">{{ footer.footerText }}</h6>
						<p><a href="{{footer.districtPartners}}">{{ footer.footerText }}</a></p>
						<p><a href="kentschools.net">needs check on craft[S]</a></p>

					</div>

					<div class="cell-xs-12 offset-top-41 cell-md-5 offset-md-top-0 text-md-left cell-lg-4 cell-lg-push-2">
						<h6 class="text-uppercase text-spacing-60">{{ footer.footerTitle }}</h6>
						<p>{{ footer.footerAddress }}</p>
						<p>(P) {{ footer.phoneNumber }}<br /> (F) {{ footer.faxNumber }}</p>
						<div class="offset-top-30">

						</div>
					</div>

					<div class="cell-xs-12 offset-top-66 cell-lg-4 cell-lg-push-1 offset-lg-top-0">
						<!-- Footer brand-->
						{% for asset in footer.logo %}
						<div class="footer-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='50' src='{{asset.url}}' alt=''/></a></div>
						{% endfor %}
						<p class="offset-top-4">Connect With Us</p>
						<div class="social-media-icons">
								{% for block in footer.socialMedia %}
									{% if block.type == "socialMediaBlock" %}
									<a class="social-media-icon {{ block.socialName }}" href= "{{block.address}}">{{ block.socialName }}</a>
									{% endif %}
								{% endfor %}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="shell offset-top-50">
		<p class="small text-lighter"><span id="copyright-year"></span> Kent City Schools<Br/>Designed and Developed by IdeaBase in Kent, OH

		</p>
	</div>
</footer>
