<!-- Photo Swipe Gallery -->
<div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
{% for asset in entry.photoGallery %}
<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
  <a href="{{asset.url('galleryFull')}}" itemprop="contentUrl" data-size="{{ asset.getWidth('galleryFull') }}x{{ asset.getHeight('galleryFull') }}">
      <img src="{{asset.url('gallery')}}" itemprop="thumbnail" alt="{{asset.title}}" />
  </a>
  <figcaption itemprop="caption description">{{ asset.title }}</figcaption>
</figure>
{% endfor %}
</div>
<!-- End Photo Swipe -->
