
  {% for entry in pageEntries1 %}
  <div class="events-wrap">

    {% include '_includes/_calendar.html' %}
    <div class="events-content home-event-item">
      <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
      <span class="home-news__date">{{ entry.dateTime.format('F d, Y') }} | {{entry.startEndTime | date('g a')}} - {{entry.endTime | date('g a')}}</span>
      <p>{{ entry.previewText }}</p>
    </div>

  </div>
  {% endfor %}

  <div class="offset-top-66">
    <nav>
      <ul class="pagination-classic">
        {% if pageInfo1.prevUrl %}<li><a href="{{ pageInfo1.prevUrl }}#events">Previous Page</a></li>{% endif %}
        {% for page, url in pageInfo1.getPrevUrls(2) %}
          <li><a href="{{ url }}#events">{{ page }}</a></li>
        {% endfor %}
          <li class="active"><a href="#">{{ pageInfo1.currentPage }}</a></li>
        {% for page, url in pageInfo1.getNextUrls(2) %}
          <li><a href="{{ url }}#events">{{ page }}</a></li>
        {% endfor %}
        {% if pageInfo1.nextUrl %}<li><a href="{{ pageInfo1.nextUrl }}#events">Next Page</a></li>{% endif %}
        <li><a href="{{ pageInfo1.lastUrl }}#events">Last Page</a></li>
      </ul>
    </nav>
    </div>
