{% set nav = craft.amNav.getNavRaw("mainMenu") %}
				{% macro addNodeToNavigation(node, index) %}
				    {%- set nodeClasses = ['nav-list'] -%}
				    {%- if node.hasChildren -%}
				        {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
				    {%- endif -%}
				    {%- if node.active or node.hasActiveChild -%}
				        {%- set nodeClasses = nodeClasses|merge(['active']) -%}
				    {%- endif -%}
				    {%- if node.level == 1 and index == 1 -%}
				        {%- set nodeClasses = nodeClasses|merge(['first']) -%}
				    {%- endif -%}
				    {%- if node.listClass|length -%}
				        {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
				    {%- endif -%}

				    <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }}"{% endif %}>
						{% if node.hasChildren %}
						<a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
						<ul class="dropdown-listing rd-navbar-dropdown ">
								{% for subnode in node.children %}
									<li class="rd-navbar--has-dropdown rd-navbar-submenu"><a href="{{ subnode.url }}"><span class="text-middle">{{ subnode.name }}</span></a>
								{% endfor %}
						</ul>

						{% else %}

								<a href="{{ node.url }}" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
						{% endif %}
				    </li>
				{% endmacro %}

{% cache %}
<header class="page-head">

  <!-- RD Navbar Transparent-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-default rd-navbar-light" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
      <div class="rd-navbar-inner">
        <!-- RD Navbar Panel-->
        <div class="rd-navbar-panel">
          <!-- RD Navbar Toggle-->
          <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap"><span></span></button>
          <!--Navbar Brand-->
					{% for asset in header.darkLogo %}
          <div class="rd-navbar-brand"><a  class="rd-navbar-brand__link" href="{{siteUrl}}"><img src='{{asset.url}}' alt='{{asset.title}}'/></a></div>
					{% endfor %}
        </div>
        <div class="rd-navbar-menu-wrap">
          <div class="rd-navbar-nav-wrap">
            <div class="rd-navbar-mobile-scroll">
              <!--Navbar Brand Mobile -->

              <div class="form-search-wrap">
                <!-- RD Search Form-->

                <form class="form-search rd-search" action="{{ url('search/results') }}" method="GET">
                  <div class="form-group">
                    <label class="form-label form-search-label form-label-sm" for="rd-navbar-form-search-widget">Search</label>
                    <input class="form-search-input input-sm form-control #{inputClass}" id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="on" autofocus="autofocus"/>
                  </div>
                  <button class="form-search-submit" type="submit"><span class="mdi mdi-magnify"></span></button>
                </form>
              </div>
              <!-- RD Navbar Nav-->
              <ul class="rd-navbar-nav">
                {% for node in nav %}
                {{ _self.addNodeToNavigation(node, loop.index) }}
                {% endfor %}
              </ul>
            </div>
          </div>
          <!--RD Navbar Search-->
          <div class="rd-navbar-search"><a class="rd-navbar-search-toggle mdi" data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#"><span></span></a>
            <form class="rd-navbar-search-form search-form-icon-right rd-search" action="{{ url('search/results') }}" method="GET">
              <div class="form-group">
                <label class="form-label" for="rd-navbar-search-form-input">Type and hit enter...</label>
                <input class="rd-navbar-search-form-input form-control form-control-gray-lightest" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" autofocus="autofocus"/>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
{% endcache %}
