{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block subheader %}
{% endblock %}
{% block content %}
	<article class="article-single">
    <!-- Layout for images -->
    {% if entry.section.handle == 'events' %}
    {% include '_includes/_calendar.html' %}
    {% endif %}
    {% if entry.featureImage | length %}
		<h1 class="news-headline">{{ entry.title }}</h1>
    <h2 class="news-subhead">{{ entry.previewText}}</h2>
    <div class="news-meta-container">

        {% for asset in entry.featureImage %}
          <div class="news-image">
            <img src="{{asset.url('galleryFull')}}" alt="{{asset.title}}" />
          </div>
        {% endfor %}
      {% include '_includes/_newsmeta.html' %}
    </div>
    <!-- End Layout for Images -->
    {% else %}
    <!-- Layout for no images -->
      <div class="no-image-container">
        <div class="no-image-container__headlines">
          <h1 class="news-headline">{{ entry.title }}</h1>
          {% if entry.section.handle == 'events' %}
            <span class="home-news__date">{{ entry.dateTime.format('F d, Y') }} | {{entry.startEndTime | date('g a')}} - {{entry.endTime | date('g a')}}</span>
          {% endif %}
          <h2 class="news-subhead">{{ entry.previewText}}</h2>
        </div>
      {% include '_includes/_newsmeta.html' %}
      </div>
      <!-- End Layout for no images -->
    {% endif %}
    <div class="news-body">
      {{ entry.body }}
    </div>
    <a class="text-link text-link--previous" href="{{siteUrl}}news">Return to News & Events</a>
	</article>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59f6859343bc5da3"></script>
{% endblock %}
