
{% extends "_layout" %}


{% set articles = craft.entries.section('events').relatedTo(category) %}

{% block subheader %}
<section class="breadcrumb-classic" style="background-image: url({{ fourohfour.featureImage.first.getUrl('breadcrumbs') }});">


<div class="shell section-34 section-sm-50">
	<div class="range range-lg-middle">

		<div class="cell-lg-5 reveal-lg-block text-lg-left">

			<h2><span>Events by {{category.title}}</span></h2>

		</div>
	</div>
</div>
</section>

{% endblock %}


{% block content %}


<main class="page-content">
	<div class="news-wraper">

		<!-- right side -->
		<div class="news-righttab">
			<div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
				<ul class="resp-tabs-list tabs-1 text-left tabs-group-default" data-group="tabs-group-default">
          <li><a href="#news">News</a></li>
					<li><a href="#events">Events</a></li>
          <li><a href="#program">Program Success Stories</a></li>
				</ul>

				<div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
          <div>
          {% paginate craft.entries.section('news').limit(5) as pageInfo, pageEntries %}
          <!-- tab 1 content -->
                {% include '_includes/_news-news.html' %}
          </div>
          <div>

          {% paginate articles.order('dateTime asc') as pageInfo1, pageEntries1 %}
					<!-- tab 2 contenct -->
              {% include '_includes/_news-events.html' %}
          </div>
          <div>
          {% paginate craft.entries.section('successStory').limit(5) as pageInfo2, pageEntries2 %}

              {% include '_includes/_success-listing.html' %}
          </div>
				</div>
			</div>
		</div>
</div>

		{% include '_includes/_news-sidebar.html' %}
</main>

{% endblock %}
