
{% extends "_layout" %}


{% set articles = craft.entries.relatedTo(category) %}

{% block subheader %}

{% if entry is defined %}
  {% if entry.featureImage | length %}
    {% set image = entry.featureImage.first %}
        <section class="breadcrumb-classic" style="background-image: url({{ image.getUrl('breadcrumbs') }});">
    {% else %}
        <section class="breadcrumb-classic">
    {% endif %}
{% else %}
  <section class="breadcrumb-classic">
{% endif %}
  <div class="shell section-34 section-sm-50">
    <div class="range range-lg-middle">

      <div class="cell-lg-5 reveal-lg-block text-lg-left">

        <h3><span class="big">{{ category.title }} Events</span></h3>

      </div>

    </div>
  </div>
</section>
{% endblock %}

{% block content %}


<main class="page-content">
	<div class="news-wraper">

		<!-- right side -->
		<div class="news-righttab">
			<div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
				<ul class="resp-tabs-list tabs-1 text-left tabs-group-default" data-group="tabs-group-default">
          <li><a href="#news">News</a></li>
					<li><a href="#events">Events</li>
				</ul>

				<div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
          <div>
          {% paginate articles.limit(10) as pageInfo, pageEntries %}
          <!-- tab 1 content -->
                {% include '_includes/_news-news.html' %}
          </div>
          <div>
          {% paginate craft.entries.section('events').limit(10).order('dateTime asc') as pageInfo1, pageEntries1 %}
					<!-- tab 2 contenct -->
              {% include '_includes/_news-events.html' %}
          </div>
				</div>
			</div>
		</div>
</div>

		{% include '_includes/_news-sidebar.html' %}
</main>

{% endblock %}
