{% extends "_layout" %}



{% block content %}


<main class="page-content">
	<div class="news-wraper">

		<!-- right side -->
		<div class="news-righttab">
			<div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
				<ul class="resp-tabs-list tabs-1 text-left tabs-group-default" data-group="tabs-group-default">
					<li>News[S]</li>
					<li>Events[S]</li>
				</ul>

				<div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
					<div>
						{% paginate craft.entries.section('news').limit(3) as pageInfo, pageEntries %}

							{% for entry in pageEntries %}
							    <article>
										<h3 class="offset-top-10"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
										<span class="h6 text-light">{# }{{ entry.dateTime.format('F d, Y') }} #}</span>
										<p>{{ entry.previewText }}</p>
										<a class="btn btn-sm btn-primary offset-top-30" href="{{ entry.url }}">Read More[S]</a>
										<hr>
							    </article>
							{% endfor %}





						<div class="offset-top-66">
							<nav>
								<ul class="pagination-classic">
									{% if pageInfo.prevUrl %}<li><a href="{{ pageInfo.prevUrl }}">Previous Page</a></li>{% endif %}
									{% for page, url in pageInfo.getPrevUrls(2) %}
										<li><a href="{{ url }}">{{ page }}</a></li>
									{% endfor %}
										<li class="active"><a href="#">{{ pageInfo.currentPage }}</a></li>
									{% for page, url in pageInfo.getNextUrls(2) %}
										<li><a href="{{ url }}">{{ page }}</a></li>
									{% endfor %}
									{% if pageInfo.nextUrl %}<li><a href="{{ pageInfo.nextUrl }}">Next Page</a></li>{% endif %}
									<li><a href="{{ pageInfo.lastUrl }}">Last Page</a></li>
								</ul>
							</nav>

						</div>
					</div>

					<!-- tab 2 contenct -->
					<div>
					{% paginate craft.entries.section('events').limit(3) as pageInfo1, pageEntries1 %}
						{% for entry in pageEntries1 %}
						<div class="events-wrap">

											<div class="events-day">
												<div class="callendar-wraper">
													<div class="callendar-top">
														{% set day = entry.dateTime|date("l") %}
														<p>{{day}}</p>
													</div>
													<div class="callendar-bottom">
														<p>{{entry.dateTime.day()}}</p>
													</div>
												</div>
											</div>
										<div class="events-content">
											<h3 class="offset-top-10"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
											<span class="h6 text-light">{{ entry.dateTime.format('F d, Y') }} || {{entry.startEndTime.localeTime()}} - {{entry.endTime.localeTime()}}</span>

											<p>{{ entry.previewText }}</p>
										</div>
										<hr>

						</div>
						{% endfor %}

						<div class="offset-top-66">
							<nav>
								<ul class="pagination-classic">
									{% if pageInfo1.prevUrl %}<li><a href="{{ pageInfo1.prevUrl }}">Previous Page</a></li>{% endif %}
									{% for page, url in pageInfo1.getPrevUrls(2) %}
										<li><a href="{{ url }}">{{ page }}</a></li>
									{% endfor %}
										<li class="active"><a href="#">{{ pageInfo1.currentPage }}</a></li>
									{% for page, url in pageInfo1.getNextUrls(2) %}
										<li><a href="{{ url }}">{{ page }}</a></li>
									{% endfor %}
									{% if pageInfo1.nextUrl %}<li><a href="{{ pageInfo1.nextUrl }}">Next Page</a></li>{% endif %}
									<li><a href="{{ pageInfo1.lastUrl }}">Last Page</a></li>
								</ul>
							</nav>
							</div>

						</div>
					</div>
				</div>
			</div>


		<!--left side -->
		<div class="news-lefttab">
			<!--calendar-->

			<div class="rd-calendar">
				<div class="rdc-panel"><a class="rdc-next"></a><a class="rdc-prev"></a>
					<div class="rdc-month"></div>
					<div class="rdc-fullyear"></div>
				</div>
				<div class="rdc-table"></div>
				<div class="rdc-events text-left"><a class="rdc-events_close"></a>
					<ul>
						<li class="rdc-event" data-date="04/12/2016">
							<div class="rdc-event-wrap">
								<article class="post widget-event">
									<div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
										<time class="text-dark" datetime="2016-01-01">8:00 AM</time>
									</div>
									<div class="post-title">
										<h6 class="text-regular"><a href="#">Pitae augue vitae matt</a></h6>
									</div>
								</article>
							</div>
						</li>
						<li class="rdc-event" data-date="04/13/2016">
							<div class="rdc-event-wrap">
								<article class="post widget-event">
									<div class="post-meta"><span class="icon icon-xxs text-picton-blue mdi mdi-clock"></span>
										<time class="text-dark" datetime="2016-01-01">9:00 AM</time>
									</div>
									<div class="post-title">
										<h6 class="text-regular"><a href="#">Pitae augue vitae matt</a></h6>
									</div>
								</article>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<hr>
			<h1> Sort BY[S]: </h1>
			{% for entry in craft.categories.group('eventType') %}
				<h4>{{entry.title}}</h4>
			{% endfor %}
		</div>
	</div>
</main>

{% endblock %}
