{% extends "_layout" %}



{% block content %}


<main class="page-content">
	<div class="news-wraper">

		<!-- right side -->
		<div class="news-righttab">
			<div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
				<ul class="resp-tabs-list tabs-1 text-left tabs-group-default" data-group="tabs-group-default">
					<li><a href="#news">News</a></li>
					<li><a href="#events">Events</li>
				</ul>

				<div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
					<div>
					{% paginate craft.entries.section('news').limit(10) as pageInfo, pageEntries %}
						{% include '_includes/_news-news.html' %}
					</div>

					<!-- tab 2 contenct -->
					<div>
					{% paginate craft.entries.section('events').limit(10) as pageInfo1, pageEntries1 %}

						{% include '_includes/_news-events.html' %}
					</div>
					</div>
				</div>
			</div>

			{% include '_includes/_news-sidebar.html' %}

</main>

{% endblock %}
