.admissions-program-listing {
  @media screen and (min-width: 700px) {
    columns: 3 50px;
    li {
      display: inline-block;
      margin-top: 0;
    }
  }
}

.events--admissions {
  margin-bottom: 2em !important;
  .events-box {
    width: 100%;
    margin-top: inherit !important;
    margin-bottom: inherit !important;
    height: 100%;
    box-shadow: none;
  }
}

.events--admissions.owl-carousel {
	.owl-stage {
		display: flex;
	}
	.owl-item {
		display: flex;
		flex: 1 0 auto;
	}
}

.admissions-button{
  width:100%;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  background-color: gray;
  border-color: gray;
  &:hover {
    background-color: darken(gray,5%);
    border-color: darken(gray,5%);
  }
  span {
    display: inline-block;
    margin: auto;
  }
}

h1{
    text-align:center;
}

.table {
  margin-bottom: 40px;
}

.table-striped{
  margin-top: 30px;
}
.table-striped th{
  background-color:$red;
  color:white;
  font-size: 17px;
  text-transform: uppercase;
}
.adm-hr{
  height: 1px;
  background-color: gray;
}
.adm-events-wrapper{
  margin-top: 50px;
  padding: 60px 30px 30px 30px;
  background-color: #EAEAEA;
}
