.admissions-program-listing {
  @media screen and (min-width: 700px) {
    columns: 3;
    column-gap: 20px;
  }
}
.admissions-button{
  width:100%;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 1.4;
}

h1{
    text-align:center;
}

.table-striped{
  margin-top: 30px;
}
.table-striped th{
  background-color:$red;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
}
.adm-hr{
  height: 1px;
  background-color: gray;
}
.adm-events-wrapper{
  margin-top: 50px;
  padding: 60px 30px 70px 30px;
  background-color: #EAEAEA;
}

.btn {
  white-space: normal !important;
}
