* {
  box-sizing: border-box;
}

.adm-hr {
  margin-bottom: 50px;
}

.rd-navbar-default.rd-navbar-fixed .rd-navbar-brand {
    display: inline-block;
    transform: none;

}

.rd-navbar-panel {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: 1200px) {
    display:block;
  }
}
.rd-navbar-default.rd-navbar-static .rd-navbar-inner {
  padding: 40px 55px 20px 55px;
}
// Hamburger Button //

.rd-navbar-default.rd-navbar-fixed .rd-navbar-toggle {
  position: absolute;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-floated.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-logo-center.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-default.rd-navbar-static .rd-navbar-cart-dropdown, .rd-navbar-floated.rd-navbar-static .rd-navbar-cart-dropdown, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-cart-dropdown, .rd-navbar-logo-center.rd-navbar-static .rd-navbar-cart-dropdown {
    margin-top: 20px;
}
.ui-to-top:hover {
    background: $red;

}
.swiper-container-horizontal > .swiper-pagination.swiper-pagination-type-1 {
    bottom: 10px;
    width: 100%;
    margin: auto;

}
.video{
  color:white;
}
::-webkit-scrollbar {
      height: 7px;
}

::-webkit-scrollbar-track {
      background-color: #868383;
      border-radius: 50px;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.52);
      border-radius: 50px;
} /* this will style the thumb, ignoring the track */


h4 {
  text-transform: uppercase;
  color: rgba(255,0,0,0.5);
  font-size: .9em;
}

.list-marked li:before {
  border-radius: 0;
  background-color: $red;
}
.margin-bottom-40px{
  margin-bottom: 40px;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li > a:after {
  background: $red;
}

.page blockquote.quote .text-primary, .page .text-primary {
  color: $red;
}
.swiper-slide-caption{
  padding: 0;
}

main {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}
.apply-button-whiteheader{
  position: absolute;
  right: 0;
    margin-right: 30px;
  border-radius: 10px;
}

.apply-button-blackheader{
  border-radius: 10px;
}
.center-button{
  display: block;
  margin: auto;
  width: 400px;

  border-radius: 10px;
}
.text-link{
  //margin-top: 10px;
  color: gray;
  font-size: 18px;
  position: relative;
  padding-right: 1.25em;
}
.text-link:hover{
  color: $red;
}

.text-link:after {
  content: "";
  background-image: url("/assets/img/ui/arrow-right.svg");
  background-repeat: no-repeat;
  width: 9px;
  height: 15px;
  background-size: 100% auto;
  right: 0;
  position:absolute;
  top:7px;
}

.callendar-top, .callendar-bottom p{
  font-size: 16.5px;
  padding-top: 10px;
}
.callendar-top{
  background-color: $red;
  height:50%;
  color:white;
  font-weight: bold;
}

.callendar-bottom{
  background-color: white;
  height:50%;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: gray;
}

h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover, h6 a:hover, .h6 a:hover {
  color:$red;
}

.shell, .shell-wide {
  max-width: 90%;
}

.forms {
  list-style-type: none;
  @media screen and (min-width: 600px) {
    columns: 2;
    column-gap: 30px;
  }
  a {
    margin-bottom: 1.5em;
    display: inline-block;
  }
}

//------small screen desygn
@media only screen and (max-width: 1200px) {
  .apply-button-whiteheader{
    position: relative;
    display: table;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
  }
  h2{
    text-align: center;
  }

}
@media only screen and (max-width: 1000px) {
    .center-button{
      display: block;
      margin: auto;
      width: 100%;
      border-radius: 10px;
    }

    .home-wrap {
      display: inherit;
    }

    .apply-button-blackheader{
      border-radius: 10px;
    }

    .text-link{
      text-align: center;
      display: inline-block;
      margin-bottom: 1em !important;
    }
}
