.btn-anis-effect.btn-primary, .btn-primary {
  background-color: $red;
  border-color: $red;
}

.btn-anis-effect.btn-primary:hover, .btn-primary:hover {
  background-color: gray;
  border-color: gray;
}

.btn-anis-effect.btn-primary:before, .btn-anis-effect.btn-primary:after {
  background-color: gray;
}

a .btn .btn-block .btn-primary {
  background-color: $red;
  border-color: $red;
}
