.footer-brand{
  width:100%;
  margin-left: -20px;
  img {
    max-width: 200px;
  }
}
footer{
  clear: both;
}

.footer-copyright {
  margin-top: 3em;
}

@media (min-width: 1200px) {
  footer .range > .cell-lg-push-1 {
    order: 5;
  }
}

.social-media-icons {
display: flex;
flex-wrap: wrap;
margin-left:-10px;
}

.social-media-icon{
width: 50px;
}

.social-media-icon {
background-image: url('/assets/img/social/web-white.svg');
background-size: 100% auto;
width: 50px;
height: 50px;
text-indent: -10000px;
overflow: hidden;
margin-right: 5px;
// Repeat the following as many times as needed for each social network. No commas needed//
  &.facebook {
  background-image: url('/assets/img/social/facebook-white.svg');
  }
  &.instagram {
  background-image: url('/assets/img/social/instagram-white.svg');
  }
  &.twitter {
  background-image: url('/assets/img/social/twitter-white.svg');
  }
  &.linkedin {
  background-image: url('/assets/img/social/linkedin-white.svg');
  }
  &.flickr {
  background-image: url('/assets/img/social/flickr-white.svg');
  }
  &.youtube {
  background-image: url('/assets/img/social/youtube-white.svg');
  }
  &.snapchat {
  background-image: url('/assets/img/social/snapchat-white.svg');
  }
  &.tumblr {
  background-image: url('/assets/img/social/tumblr-white.svg');
  }

}

.small {
  font-size: 85%;
  p {
    margin-top: 0;
  }
}
