.breadcrumb-classic::before {

    background-image: none !important;
}
.swiper-container {
  max-height: 700px;
}
.rd-navbar-default.rd-navbar-light.rd-navbar-static .rd-navbar-inner {
  padding-bottom: 15px;
}
.rd-navbar-wrap {
  height: auto !important;
}
.dropdown-listing {
  columns: 2;
  column-gap: 5px;
  width: 500px;
  @media only screen and (max-width: 1200px) {
    columns: 1;
    width: 280px;

  }
  //height:800px;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-nav>li>a{
  @media screen and (min-width: 1600px){
    font-size: 17.5px;
  }
}

.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown{
  width: 500px;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown li{
  page-break-inside: avoid;
}
.breadcrumb-classic {
  background: none;
  background-image: url("../img/ui/background-14-1920x651.jpg");
  background-size: cover;
}

.breadcrumb-classic::before {
  background: none;
  background-image: url("../img/ui/background-14-1920x651.jpg");
}
.breadcrumb-classic::after{

  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  display: block;
  content: "";
  z-index: 0;
}
.rd-navbar-default.rd-navbar-fixed .rd-navbar-brand{
  left: auto;
  @media screen and (min-width: 480px) {
    top: 5px;
  }
}
.rd-navbar-brand__link {
  display: block;
  width: 200px;
  height: auto;
  margin-top: -3px !important;
  img {
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
    width: 300px;
    margin-top: -25px !important;
  }
  @media screen and (min-width: 1400px) {
    width: 425px;
  }
}


.rd-navbar--is-stuck .rd-navbar-brand__link {
  margin-top: 0 !important;
  width: 200px;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown {
  border-top: 1px solid #DD1D25;
}
.pos-top{
  top: 0;
}
@media screen and (min-width:1200px){
  .has-children {
    padding-right:1.25em;
  }
}
.rd-navbar-default.rd-navbar-transparent.rd-navbar-fixed .rd-navbar-submenu-toggle{
  text-align: center;
  width: 60px;
}

.has-children:after {
  content: "";
  background-image: url("/assets/img/ui/arrow-down.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-size: 100% auto;
  right: 0;
  position:absolute;
  top:40%;
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}
