.reveal-block {
  padding-top: 1em;
}

.page .text-picton-blue {
  color: $red;
  &:hover, &:focus {
    color: darken($red,10%);
  }
}

.page a.text-picton-blue:hover, .page a.text-picton-blue:focus {
  color: darken($red,15%);
}

.faculty-profile {
  @media screen and (max-width: 480px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.faculty-info {
  order: 2;
  margin-top: 2em !important;
  width: 100%;
  @media screen and (min-width: 768px) {
    order: inherit;
    margin-top: inherit !important;
    width: inherit;
  }
}
