
.faculty-listing{
  margin:20px;
  padding: 30px;
}

.program-list {
  columns: 2;
  column-gap: 50px;
}

.program-story {
  margin-bottom: 3em;
  @media screen and (min-width: 700px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .news-listing {
    width: 80%;
  }
}

.program-story__image {
  width: 100%;
  @media screen and (min-width: 700px) {
    width: 15%;
  }
}

.program-listing {
  @media screen and (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.faculty-listing h4 {
  margin-bottom: 1em;
}

.faculty-list__item {
  @media screen and (min-width: 900px) {
    display: flex;
    flex-wrap: wrap;
  }
  >div {
    margin: 2em auto !important;
    text-align: center !important;
  }
}

.program-courses {
padding-bottom: 3em;
}

.project-content{
  width: 50%;
  float: right;
}
.projects-gallery figure{
  margin:0px;
  margin-bottom: 10px;
}
.program-wrap{
  position:relative;
  display: table;
  padding-bottom: 30px;
  //padding: 30px 105px 20px 105px;
}
.program-box-left{
  float:left;
  width:45%;
  text-align: center;
  margin-bottom: 40px;
}
.program-box-right{
  float:right;
  width: 45%;
  margin-bottom: 40px;
}
.listing-categories{
  page-break-inside: avoid;
  margin-bottom: 30px;
}
.video{
  margin: auto;
  height: 350px;
  width: 90%;
  max-width: 700px;

}

iframe{
  height: 350px;
  width: 700px;
}


//individual program page
.course-button{
  border-radius:0;
  margin:10px;
  width:82%;
}
.program-requirements{
  background-color: lighten(#EAEAEA,3%);
  margin: 15px 50px 50px 50px;
  padding:30px 40px 30px 40px;
  text-align:left;
}
.program-requirements h3{
  text-transform: uppercase;
  color:$red;

  font-size: 15px;
}
.program-requirements hr{
  background-color:gray;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
}
.program-overview{

  background-color: lighten(#EAEAEA,3%);
  page-break-inside: avoid;
  width: 100%;
  display: inline-block;
  margin-bottom: 50px;
  padding: 45px;
  @media screen and (min-width:900px) {
    width: 45%;

  }
}
.program-overview h3{
  color: $red;
  font-size: 25px;
  text-transform:uppercase;
}

.program-overview ul{
  list-style-type: square;
  color: $red;
}
.program-overview p{
  color: black;
}
.instructor-tab{
  margin: 10px 30px 10px 100px;
  text-align: center;

}
.instructor-tab img{
  height:300px;
  width: 300px;
}
address ul li{
    overflow-x: auto;
}
@media only screen and (max-width: 1220px) {

  .program-box-left{
    float:none;
    width:100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .program-box-right{
    float:none;
    width: 100%;
    margin-bottom: 30px;
  }
  .course-button {
    border-radius: 0;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
}
.program-requirements {
    margin:0px;
    margin-bottom: 20px;
  }
  .shell{
    max-width: 100%;
}
}
