/** 2.18 Scaffolding Addons */
.page {
  overflow: hidden;
  background-color: #fff; }

.img-rounded {
  border-radius: 5px; }

.img-cover {
  width: 100%;
  height: auto; }

.img-bordered-white {
  border: 2px solid #fff; }

.img-semi-transparent {
  opacity: .5;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  will-change: transform; }
  .img-semi-transparent:hover {
    opacity: 1; }

.element-fullwidth {
  width: 100%; }

.bg-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.img-mobile-half-width {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 480px) {
    .img-mobile-half-width {
      max-width: none; } }

/** 2.19 Text Alignment System */
.page .text-left {
  text-align: left; }

.page .text-center {
  text-align: center; }

.page .text-right {
  text-align: right; }

.page .text-middle {
  vertical-align: middle; }

@media (min-width: 480px) {
  html:not(.lt-ie10) .page .text-xs-left {
    text-align: left; }
  html:not(.lt-ie10) .page .text-xs-center {
    text-align: center; }
  html:not(.lt-ie10) .page .text-xs-right {
    text-align: right; }
  html:not(.lt-ie10) .page .text-xs-justify {
    text-align: justify; }
  html:not(.lt-ie10) .page .text-xs-nowrap {
    white-space: nowrap; }
  html:not(.lt-ie10) .page .text-xs-normal {
    white-space: normal; } }

@media (min-width: 768px) {
  html:not(.lt-ie10) .page .text-sm-left {
    text-align: left; }
  html:not(.lt-ie10) .page .text-sm-center {
    text-align: center; }
  html:not(.lt-ie10) .page .text-sm-right {
    text-align: right; }
  html:not(.lt-ie10) .page .text-sm-justify {
    text-align: justify; }
  html:not(.lt-ie10) .page .text-sm-nowrap {
    white-space: nowrap; }
  html:not(.lt-ie10) .page .text-sm-normal {
    white-space: normal; } }

@media (min-width: 992px) {
  html:not(.lt-ie10) .page .text-md-left {
    text-align: left; }
  html:not(.lt-ie10) .page .text-md-center {
    text-align: center; }
  html:not(.lt-ie10) .page .text-md-right {
    text-align: right; }
  html:not(.lt-ie10) .page .text-md-justify {
    text-align: justify; }
  html:not(.lt-ie10) .page .text-md-nowrap {
    white-space: nowrap; }
  html:not(.lt-ie10) .page .text-md-normal {
    white-space: normal; } }

@media (min-width: 1200px) {
  html:not(.lt-ie10) .page .text-lg-left {
    text-align: left; }
  html:not(.lt-ie10) .page .text-lg-center {
    text-align: center; }
  html:not(.lt-ie10) .page .text-lg-right {
    text-align: right; }
  html:not(.lt-ie10) .page .text-lg-justify {
    text-align: justify; }
  html:not(.lt-ie10) .page .text-lg-nowrap {
    white-space: nowrap; }
  html:not(.lt-ie10) .page .text-lg-normal {
    white-space: normal; } }

@media (min-width: 1800px) {
  html:not(.lt-ie10) .page .text-xl-left {
    text-align: left; }
  html:not(.lt-ie10) .page .text-xl-center {
    text-align: center; }
  html:not(.lt-ie10) .page .text-xl-right {
    text-align: right; }
  html:not(.lt-ie10) .page .text-xl-justify {
    text-align: justify; }
  html:not(.lt-ie10) .page .text-xl-nowrap {
    white-space: nowrap; }
  html:not(.lt-ie10) .page .text-xl-normal {
    white-space: normal; } }

/** 2.20 Text Styling System */
.page .text-italic {
  font-style: italic; }

.page .text-normal {
  font-style: normal; }

.page .text-underline {
  text-decoration: underline; }

.page .text-strike {
  text-decoration: line-through; }

.page .text-thin {
  font-weight: 100; }

.page .text-light {
  font-weight: 300; }

.page .text-regular {
  font-weight: 400; }

.page .text-medium {
  font-weight: 500; }

.page .text-sbold {
  font-weight: 600; }

.page .text-bold, .page strong {
  font-weight: 700; }

.page .text-ubold {
  font-weight: 900; }

.page .text-spacing-0 {
  letter-spacing: 0; }

.page .text-spacing-20 {
  letter-spacing: 0.02em; }

.page .text-spacing-40 {
  letter-spacing: 0.04em; }

.page .text-spacing-60 {
  letter-spacing: 0.06em; }

.page .text-spacing-120 {
  letter-spacing: 0.12em; }

/** 2.21 Navs Addons */
.nav-tabs > li, .nav-tabs > li:last-child {
  margin-bottom: -1px; }

.nav-stacked > li + li {
  margin-top: 4px; }

@media (min-width: 992px) {
  .nav-stacked-container .tab-content,
  .nav-stacked-container .nav-stacked {
    display: table-cell;
    vertical-align: top; }
  .nav-stacked-container .nav-stacked {
    width: 25%; }
  .nav-stacked-container .tab-content {
    width: 73%;
    padding-left: 20px; } }

/** 2.22 Navbar Addons */
.navbar {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  border: none;
  text-align: left; }
  .navbar-brand {
    padding-left: 30px;
    padding-right: 30px; }
  .navbar .navbar-toggle {
    margin-top: 9px;
    margin-bottom: 9px; }
  .navbar .navbar-text {
    margin-top: 14px;
    margin-bottom: 14px; }
  .navbar .navbar-form {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px; }
    .navbar .navbar-form .form-search-submit {
      right: 15px; }
  .navbar-nav > li > .dropdown-menu {
    margin-top: 2px; }
  .navbar-nav > li > a {
    transition: .3s;
    font-weight: 400;
    font-size: 14px; }
    .navbar-nav > li > a .badge {
      margin-top: -17px;
      margin-left: -5px;
      margin-right: -5px; }
