h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .h1 small,
  .h1 .small, .h2 small,
  .h2 .small, .h3 small,
  .h3 .small, .h4 small,
  .h4 .small, .h5 small,
  .h5 .small, .h6 small,
  .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #f2f2f2; }

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 24px;
  margin-bottom: 12px; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small {
    font-size: 65%; }

h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 12px;
  margin-bottom: 12px; }
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    font-size: 75%; }

h1, .h1 {
  font-size: 45px; }

h2, .h2 {
  font-size: 38px; }

h3, .h3 {
  font-size: 30px; }

h4, .h4 {
  font-size: 24px; }

h5, .h5 {
  font-size: 22px; }

h6, .h6 {
  font-size: 17px; }

p {
  margin: 0 0 12px; }

.lead {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .lead {
      font-size: 24px; } }

small,
.small {
  font-size: 93%; }

mark,
.mark {
  background-color: #f5bf2f;
  padding: .2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase, .initialism {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-muted {
  color: #d9d9d9; }

blockquote.quote .text-primary,
.text-primary {
  color: #42b574; }

a.text-primary:hover,
a.text-primary:focus {
  color: #34905c; }

blockquote.quote .text-success,
.text-success {
  color: #84c450; }

a.text-success:hover,
a.text-success:focus {
  color: #6ba839; }

blockquote.quote .text-info,
.text-info {
  color: #64aae1; }

a.text-info:hover,
a.text-info:focus {
  color: #3993d9; }

blockquote.quote .text-warning,
.text-warning {
  color: #F3A43D; }

a.text-warning:hover,
a.text-warning:focus {
  color: #ee8d0f; }

blockquote.quote .text-danger,
.text-danger {
  color: #e50a0a; }

a.text-danger:hover,
a.text-danger:focus {
  color: #b40808; }

.bg-primary {
  color: #fff; }

.bg-primary {
  background-color: #42b574; }

a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #34905c; }

.bg-success {
  background-color: #abcc37; }

a.bg-success:hover,
a.bg-success:focus {
  background-color: #8aa62a; }

.bg-info {
  background-color: #79ccf2; }

a.bg-info:hover,
a.bg-info:focus {
  background-color: #4bbaed; }

.bg-warning {
  background-color: #f5bf2f; }

a.bg-warning:hover,
a.bg-warning:focus {
  background-color: #e6aa0b; }

.bg-danger {
  background-color: #f54b0f; }

a.bg-danger:hover,
a.bg-danger:focus {
  background-color: #c93b08; }

.page-header {
  padding-bottom: 11px;
  margin: 48px 0 24px;
  border-bottom: 1px solid #f5f5f5; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 12px; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px; }
  .list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }

dl {
  margin-top: 0;
  margin-bottom: 24px; }

dt,
dd {
  line-height: 1.5; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table; }

.dl-horizontal dd:after {
  clear: both; }

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .dl-horizontal dd {
    margin-left: 180px; } }

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #f2f2f2; }

.initialism {
  font-size: 90%; }

blockquote {
  padding: 12px 24px;
  margin: 0 0 24px;
  font-size: 20px;
  border-left: 5px solid #f5f5f5; }
  blockquote p:last-child,
  blockquote ul:last-child,
  blockquote ol:last-child {
    margin-bottom: 0; }
  blockquote footer,
  blockquote small,
  blockquote .small {
    display: block;
    font-size: 80%;
    line-height: 1.5;
    color: #f2f2f2; }
    blockquote footer:before,
    blockquote small:before,
    blockquote .small:before {
      content: '\2014 \00A0'; }

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #f5f5f5;
  border-left: 0;
  text-align: right; }
  .blockquote-reverse footer:before,
  .blockquote-reverse small:before,
  .blockquote-reverse .small:before,
  blockquote.pull-right footer:before,
  blockquote.pull-right small:before,
  blockquote.pull-right .small:before {
    content: ''; }
  .blockquote-reverse footer:after,
  .blockquote-reverse small:after,
  .blockquote-reverse .small:after,
  blockquote.pull-right footer:after,
  blockquote.pull-right small:after,
  blockquote.pull-right .small:after {
    content: '\00A0 \2014'; }

address {
  margin-bottom: 24px;
  font-style: normal;
  line-height: 1.5; }

  code,
  kbd,
  pre,
  samp {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 5px; }

  kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25); }
    kbd kbd {
      padding: 0;
      font-size: 100%;
      font-weight: bold;
      box-shadow: none; }

  pre {
    display: block;
    padding: 11.5px;
    margin: 0 0 12px;
    font-size: 15px;
    line-height: 1.5;
    word-break: break-all;
    word-wrap: break-word;
    color: #9b9b9b;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px; }
    pre code {
      padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0; }

  .pre-scrollable {
    max-height: 340px;
    overflow-y: scroll; }
