{% extends "_layout" %}
{% block header %}


{% endblock %}

{% block content %}
<section class="breadcrumb-classic">
	<div class="shell section-34 section-sm-50">
		<div class="range range-lg-middle">
			<div class="cell-lg-5 reveal-lg-block text-lg-left">
				<h2><span class="big">{{entry.title}}</span></h2>
			</div>
			{% if entry.applicationLightSwitch %}
				{% for apply in apply.admissions %}
				<a class="apply-button-whiteheader btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{apply.url}}">
				<span class="btn-text">Apply Now[S]</span></a>
				{% endfor %}
			{% else %}
			<a class="apply-button-whiteheader btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200">
			<span class="btn-text">Applications closed for this period[S]</span></a>
			{% endif %}

		</div>
	</div>
</section>
<main class="page-content">

	<h1>Admissions Criteria[S]</h1>
	<div>
		<hr class="divider bg-red">
	</div>
	<h4>General[S]</h4>


	<p>{{ entry.generalText }}</p>
	<p>Enrollment Status: {% if entry.applicationLightSwitch %}
		Open[S]
	{% else %}
		Closed[S]
	{% endif %}</p>

	<hr class="adm-hr hr">

	<h1>Specific Program Criteria[S]</h1>

		<hr class="divider bg-red">

		<div class="admissions-program-listing">
			{% for entry in craft.entries.section('programs').order('title asc') %}
			<a class="admissions-button btn btn-primary" data-caption-animate="fadeInUp"  data-caption-delay="1200" href="{{entry.url}}">
			<span class="btn-text">{{entry.title}}</span></a>
			{% endfor %}
		</div>


	<hr class="adm-hr hr" >


	<h1>Admissions Deadlines[S]</h1>
	<div>
		<hr class="divider bg-red">
	</div>
	<table class="table table-striped">
		{% if entry.applicationDeadlines | length %}
				{% for row in entry.applicationDeadlines %}
				{% if loop.first %}
					<tr>
						<th>{{ row.program }}</th>
						<th>{{ row.fall }}</th>
						<th>{{ row.spring }}</th>
					</tr>
				{% endif %}
				{% if not loop.first %}
					<tr>

						<td>{{ row.program }}</td>
						<td>{{ row.fall }}</td>
						<td>{{ row.spring }}</td>
					</tr>
					{% endif %}
				{% endfor %}

		{% endif %}
	</table>
	{% if entry.applicationLightSwitch %}
		<a class="center-button btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200" href="//www.templatemonster.com/intense-multipurpose-html-template.html?utm_source=livedemo&amp;utm_medium=themebutton&amp;utm_campaign=intense">
			<span class="btn-text">Apply now[S]</span></a>
	{% else %}
		<a class="center-button btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200" >
			<span class="btn-text">Applications closed for this period[S]</span></a>
	{% endif %}


	<div class="adm-events-wrapper">
	<h1>Important Dates & Events[S]</h1>
		<div>
			<hr class="divider bg-red">
		</div>
		{{ entry.admissionsDates }}

		<p>Here you will find all the important dates and events regarding CTE admissions. Examples include orientation schedules, teacher meetings, and specific class events.[S]</p>

			<a class="center-button btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{ 'calendars' }}">
			<span class="btn-text">Admissions Calendar[S]</span></a>
	</div>
</main>







{% endblock %}
