{% extends "_layout" %}


{% block content %}

<main class="page-content">

	<div class="text-callout">
		<h1>Admissions Steps</h1>
		<hr class="divider bg-red">
		{{ entry.body }}
	</div>
	<ol class="steps">
	{% for block in entry.admissionsSteps %}
				{% if block.type == "step" %}
					<li>{{ block.step }}</li>
				{% endif %}
	{% endfor %}
	</ol>

		<div class="admissions-dates">
			<h1>Admissions Dates & Events</h1>
			<hr class="divider bg-red">
		{% set category = craft.categories.slug('admissions') %}
		<div class="events events--admissions owl-theme owl-carousel" data-margin="20px" data-mouse-drag="true" data-items="1" data-xs-items="1" data-sm-items="3" data-dots="true" data-md-items="5" data-nav="false">
			{% set events = craft.entries.section('events').order('dateTime asc').relatedTo(category) %}
			{% for entry in events if entry.dateTime > now %}
					{% if loop.index <= 12 %}
						<div class="events-box">
						{% include '_includes/_calendar.html' %}
						<a href="{{entry.url}}">
							<h3>{{entry.title}}</h3>
							<p class="events-time">{{entry.startEndTime | date('g a')}} - {{entry.endTime | date('g a')}}</p>
						</a>
					</div>
					{% endif %}
			{% endfor %}
	</div>
</div>


	<h1>Admissions Deadlines</h1>
	<div>
		<hr class="divider bg-red">
	</div>
	<table class="table table-striped">
		{% if entry.applicationDeadlines | length %}
				{% for row in entry.applicationDeadlines %}
				{% if loop.first %}
					<tr>
						<th>{{ row.program }}</th>
						<th>{{ row.fall }}</th>
						<th>{{ row.spring }}</th>
					</tr>
				{% endif %}
				{% if not loop.first %}
					<tr>

						<td>{{ row.program }}</td>
						<td>{{ row.fall }}</td>
						<td>{{ row.spring }}</td>
					</tr>
					{% endif %}
				{% endfor %}

		{% endif %}
	</table>
	{% if entry.applicationLightSwitch %}
		<a class="center-button btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{apply.applicationUrl}}">
			<span class="btn-text">Apply now</span></a>
	{% else %}
		<a class="center-button btn btn-primary" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{apply.applicationUrl}}">
			<span class="btn-text">Not Currently Accepting Applications</span></a>
	{% endif %}

<div class="text-callout admissions-criteria">
	<h1>Admissions Criteria</h1>
	<hr class="divider bg-red">
	{{ entry.admissionsCriteria }}
</div>

</main>







{% endblock %}
