{% extends "_layout" %}
{% block content %}

<div id="about">
<h1>{{ entry.title }}</h1>
{% for entry in entry.admissionsLink %}
	<a href="{{ entry.url }}">Apply Now</a>
{% endfor %}

<p>Grade Level: {{ entry.gradeLevel }}</p>
<p>School: {{ entry.school }}</p>
<p>Length: {{ entry.length }}</p>
<p>Credit at Kent: {{ entry.creditAtKent }}</p>
<h2>Program Description</h2>
<p>{{ entry.body }}</p>

{% set program = entry %}
{% for entry in craft.entries.section('classes').relatedTo(program) %}
	<a href="{{ entry.url }}">{{ entry.title }}</a>
{% endfor %}


<hr>
{% if entry.programsMatrix | length %}
	<h2>Program Overview</h2>
	{% for block in entry.programsMatrix %}
		<h3>{{ block.heading }}</h3>
		{% for row in block.text %}
			<ul>
				<li>{{ row.bulletpoint }}</li>
			</ul>
		{% endfor %}
	{% endfor %}
{% endif %}
</div>




{% endblock %}