{% extends "_layout" %}

{% block header %}
{% include '_includes/_header.html' %}

<!-- RD Navbar Transparent-->
        <div id="home" data-type="anchor">
          <!--Swiper-->
          <div class="rd-parallax rd-parallax-swiper">
            <div class="rd-parallax-layer" data-speed="0.3" data-sm-speed="1" data-type="html">
              <div class="swiper-container swiper-slider" data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px">
                <div class="swiper-wrapper text-center">
                  {% for asset in entry.featureImage %}
                  <div class="swiper-slide" id="page-loader" data-slide-bg="{{ asset.url('featureImage') }}" data-preview-bg="{{ asset.url('featureImage') }}">
                    {% endfor %}
                    <div class="swiper-caption swiper-parallax" data-speed="0.5">
                      <div class="swiper-slide-caption">
                        <div class="shell">
                          <div class="range range-lg-center">
                            <div class="cell-lg-12">
                              <h1><span class="text-uppercase" >{{ entry.title }}</span></h1>
                            </div>
                            <div class="cell-lg-10 offset-top-30">
                              {% for entry in craft.entries.section('admissions') %}
                              {% if entry.applicationLightSwitch %}
																{% for apply in apply.admissions %}
																<a class="apply-button-blackheader btn btn-primary btn-med" href="{{ apply.url }}">
																<span class="btn-text">Apply Now</span></a>
																{% endfor %}
															{% else %}
																<a class="apply-button-blackheader btn btn-primary btn-med">
																<span class="btn-text">Applications closed for this period</span></a>
															{% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

  {% endblock %}
  {% block subheader %}
{% endblock %}

{% block content %}
      <!-- Page Contents-->
      <main class="page-content">

        <section>
          <div class="shell">
            <div class="offset-sm-top-66 text-left">
              <!-- Responsive-tabs-->
              <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
                <ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
                  <li><a href="#About the program">About the Program</a></li>
                  <li><a href="#Program Overview">Program Overview</a></li>
                  <li><a href="#Meet the instructor">Meet the Instructor</a></li>
                  {% if craft.entries.section('successStory').relatedTo(entry)| length %}
                    {% set section = craft.entries.section('successStory') %}
                    <li><a href="#{{section.section}}">Stories &amp; Projects</a></li>
                  {% endif %}
                  {% if entry.photoGallery | length %}
                    <li><a href="#PhotoGallery">Photo Gallery</a></li>
                  {% endif %}
                </ul>

                <!-- Tab 1 Content -->
                <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
                  <div class="program-wrap">
                    <div class="program-box-left">
                      <div class="program-courses">
                        <h1>Courses</h1>

                        <hr class="divider bg-red">
                          {% for classes in craft.entries.section('classes').relatedTo(entry) %}
                            <a class="course-button btn btn-primary " href="{{classes.courseAccessLink}}" >
                            <span class="btn-text">{{ classes.title }}</span></a>
                          {% endfor %}
                      </div>
                        <h1>Program Requirements</h1>
                        <hr class="divider bg-red">
                        <div class="program-requirements">
    											{% set program = entry %}
                          <h3>Grade level: {{entry.gradeLevel}}</h3>
                          <h3>School: <span style="color:black; font-size:15px;">{{entry.school}}</span></h3>
                          <hr>
                          <h3>Program length:</h3>
                          <p>{{entry.length}}</p>
                          <hr>
    											{% if entry.admissionsCriteria | length %}
    												  <h3>Admissions criteria: </h3>
    													{% for row in entry.admissionsCriteria %}
    														<p>{{ row.criteria}}</p>
    													{% endfor %}
    											{%  endif %}
                        </div>
                    </div>
                    <div class="program-box-right">
                      <div>
                        <h1>Program Description</h1>
                        <hr class="divider bg-red">
                        <p>{{ entry.body }}</p>
                      </div>
                      {% if entry.youtubeVideoLink | length %}

                        <div class="video">
                          {{entry.youtubeVideoLink|videoEmbed}}
                        </div>

                      {% endif %}
                    </div>
                  </div>


                  <!-- Tab 2 Content -->
                  <div>
                    <h1>Program Overview</h1>
                    <hr class="divider bg-red">
                    <section class="program-listing">

										{% if entry.programsMatrix | length %}
											{% for block in entry.programsMatrix %}
                      <div class="program-overview">
												<h3>{{ block.heading }}</h3>

												{% for row in block.text %}
													<ul>
														<li><p>{{ row.bulletpoint }}</p></li>
													</ul>
												{% endfor %}
                        </div>
											{% endfor %}
										{% endif %}
                  </section>
                  </div>

                  <!-- Tab 3 Content -->
                  <div class="faculty-listing cell-sm-12 cell-md-12">
                    <h1>Instructors</h1>
                    <hr class="divider bg-red">
                    <div class="range range-sm-center">

										{% set repeat="\n" %}
										{% for classes in craft.entries.section('classes').relatedTo(program) %}
												{% for entry in classes.instructor %}
													{% if repeat != entry.title %}
                            {% include "_includes/_headShot.html" %}
													{% set repeat = entry.title %}
                          {% endif %}
												{% endfor %}
										{% endfor %}
                  </div>

                  </div>

                  <!-- Tab 4 Content -->
                  {% if craft.entries.section('successStory').relatedTo(entry)| length %}
                  <div>
                    <section>
                      <h1>Stories &amp; Projects from {{entry.title}}</h1>
                      <hr class="divider bg-red">
                        {% for entry in craft.entries.section('successStory').relatedTo(program)%}
                          <div class="program-story">
                            {% for asset in entry.featureImage %}
                              <img class="program-story__image" src="{{ asset.url('carouselImage') }}" alt="{{asset.title}}"/>
                            {% endfor %}
                            <article class="news-listing home-news-item">
                                <h3 class="offset-top-10"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                                <span class="home-news__date">{{ entry.postDate | date('F d, Y') }}</span>
                                <p>{{ entry.previewText }}</p>
                            </article>
                          </div>
                        {% endfor %}
                    </section>
                  </div>
                  {% endif %}

                  <!-- Start Photo Gallery -->
                  {% if entry.photoGallery.first | length %}
                  <div>
                    <h1>Photos from {{entry.title}}</h1>
                    <hr class="divider bg-red">
                    <!-- Photo Swipe Gallery -->
                  <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                  {% for asset in entry.photoGallery %}
                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                      <a href="{{asset.url('galleryFull')}}" itemprop="contentUrl" data-size="{{ asset.getWidth('galleryFull') }}x{{ asset.getHeight('galleryFull') }}">
                          <img src="{{asset.url('gallery')}}" itemprop="thumbnail" alt="{{asset.title}}" />
                      </a>
                      <figcaption itemprop="caption description">{{ asset.title }}</figcaption>
                    </figure>
                  {% endfor %}
                  </div>
                  <!-- End Photo Swipe -->
                  {% endif %}
                  </div>
                  <!-- End Photo Gallery Tab-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


      </main>

{% endblock %}
