{% extends "_layout" %}

{% block header %}
{% include '_includes/_header.html' %}
<!-- RD Navbar Transparent-->
        <div id="home" data-type="anchor">
          <!--Swiper-->
          <div class="rd-parallax rd-parallax-swiper">
            <div class="rd-parallax-layer" data-speed="0.3" data-sm-speed="1" data-type="html">
              <div class="swiper-container swiper-slider" data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px">
                <div class="swiper-wrapper text-center">
                  {% for asset in entry.featureImage %}
                  <div class="swiper-slide" id="page-loader" data-slide-bg="{{ asset.url('featureImage') }}" data-preview-bg="{{ asset.url('featureImage') }}">
                    {% endfor %}
                    <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
                      <div class="swiper-slide-caption">
                        <div class="shell">
                          <div class="range range-lg-center">
                            <div class="cell-lg-12">
                              <h1><span class="big text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.title }}</span></h1>
                            </div>
                            <div class="cell-lg-10 offset-top-30">
															{% if entry.applicationLightSwitch %}
																{% for apply in apply.admissions %}
																<a class="apply-button-blackheader btn btn-primary btn-lg" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{ apply.url }}">
																<span class="btn-text">Apply Now</span></a>
																{% endfor %}
															{% else %}
																<a class="apply-button-blackheader btn btn-primary btn-lg" data-caption-animate="fadeInUp" data-caption-delay="1200">
																<span class="btn-text">Applications closed for this period[S]</span></a>
															{% endif %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

  {% endblock %}
  {% block subheader %}
{% endblock %}

{% block content %}
      <!-- Page Contents-->
      <main class="page-content">

        <section>
          <div class="shell">
            <div class="offset-sm-top-66 text-left">
              <!-- Responsive-tabs-->
              <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
                <ul class="resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
                  <li>About the program[S]</li>
                  <li>Program Overview[S]</li>
                  <li>Meet the instructor[S]</li>
                  {% if craft.entries.section('projects').relatedTo(entry) | length and craft.entries.section('successStory').relatedTo(entry)| length %}

                  <li>{{craft.entries.section('projects').section}} and {{craft.entries.section('successStory').section}}</li>

                  {% elseif craft.entries.section('projects').relatedTo(entry) | length %}
                  {% set section = craft.entries.section('projects') %}
                  <li>{{section.section}}</li>

                  {% elseif craft.entries.section('successStory').relatedTo(entry)| length %}
                  {% set section = craft.entries.section('successStory') %}
                  <li>{{section.section}}</li>
                  {% endif %}

                </ul>

                <!-- Tab 1 Content -->
                <div class="resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
                  <div class="program-wrap">
                    <div class="program-box-left">

                        <h1>Program Requirements[S]</h1>
                        <hr class="divider bg-red">
                        <div class="program-requirements">
    											{% set program = entry %}
                          <h3>Grade level[S]: {{entry.gradeLevel}}</h3>
                          <h3>School[S]: <span style="color:black; font-size:15px;">{{entry.school}}</span></h3>
                          <hr>
                          <h3>Program length[S]:</h3>
                          <p>{{entry.length}}</p>
                          <hr>
    											{% if entry.admissionsCriteria | length %}
    												  <h3>Admissions criteria[S]: </h3>
    													{% for row in entry.admissionsCriteria %}
    														<p>{{ row.criteria}}</p>
    													{% endfor %}
    											{%  endif %}
                        </div>
                        <div>
                          <h1>Courses[S]</h1>

                          <hr class="divider bg-red">
                            {% for classes in craft.entries.section('classes').relatedTo(entry) %}
                              <a class="course-button btn btn-primary " href="{{classes.courseAccessLink}}" data-caption-animate="fadeInUp" data-caption-delay="1200">
                              <span class="btn-text">{{ classes.title }}</span></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="program-box-right">
                      <div>
                        <h1>Program Description[S]</h1>
                        <hr class="divider bg-red">
                        <p>{{ entry.body }}</p>
                      </div>
                    </div>
                  </div>


                  <!-- Tab 2 Content -->
                  <div>
                    <hr class="divider bg-red">
                    <section class="program-listing">

										{% if entry.programsMatrix | length %}
											{% for block in entry.programsMatrix %}
                      <div class="program-overview">
												<h3>{{ block.heading }}</h3>

												{% for row in block.text %}
													<ul>
														<li><p>{{ row.bulletpoint }}</p></li>
													</ul>
												{% endfor %}
                        </div>
											{% endfor %}
										{% endif %}
                  </section>
                  </div>

                  <!-- Tab 3 Content -->
                  <div>
                    <section class="program-listing">
										{% set repeat="\n" %}
										{% for classes in craft.entries.section('classes').relatedTo(program) %}
												{% for instructor in classes.instructor %}
													{% if repeat != instructor.title %}
                          <div class="instructor-tab">
  													<a href="{{instructor.url}}">
                              <p>{{ instructor.title }}</p></a>


                              {% if instructor.featureImage | length %}
  														  {% for asset in instructor.featureImage %}
  															  <a href="{{instructor.url}}"><img src="{{ asset.url('profileImage') }}" alt=""/></a>
  														  {% endfor %}
                              {% else %}
                                {% for asset in imageMissing.featureImage %}
                                  <a href="{{instructor.url}}"><img src="{{ asset.url('profileImage') }}" alt=""/></a>
                                {% endfor %}
                              {% endif %}
                              <p>{{ instructor.body}}</p>
  													{% endif %}
                          </div>
													{% set repeat = instructor.title %}
												{% endfor %}
										{% endfor %}
                  </section>
                  </div>

                  <!-- Tab 4 Content -->
                  {% if craft.entries.section('projects').relatedTo(entry) | length or craft.entries.section('successStory').relatedTo(entry)| length %}

                  <div>
                    {% if craft.entries.section('projects').relatedTo(program) | length %}
                    <div>
                      <h3>{{craft.entries.section('projects').relatedTo(program).section}}</h3>
										{% for projects in craft.entries.section('projects').relatedTo(program) %}
											<a href="{{projects.url}}"><p>{{ projects.title}}</p>
											<p>{{ projects.previewText}}</p></a>
											{% for asset in projects.featureImage %}
												<img src="{{ asset.url('featureImage') }}" alt=""/>
											{% endfor %}
										{% endfor %}
                    </div>
                    {% endif %}
                    {% if craft.entries.section('successStory').relatedTo(program) | length %}
                    <div>

                      <h3>{{craft.entries.section('successStory').section}}</h3>
                    {% for stories in craft.entries.section('successStory').relatedTo(program)%}
											<a href="{{stories.url}}"><p>{{ stories.title}}</p>
											<p>{{ stories.previewText}}</p></a>
											{% for asset in stories.featureImage %}
												<img src="{{ asset.url('featureImage') }}" alt=""/>
											{% endfor %}
										{% endfor %}
                    </div>
                    {% endif %}
                  </div>
                  {% endif %}

                </div>
              </div>
            </div>
          </div>
        </section>


      </main>


      <!-- Page Footer-->
      <!-- Default footer-->

</body>



{% endblock %}
