{% extends "_layout" %}


{% block content %}

<main class="page-content">
    {{ entry.body}}
    <section>
    	<h1>Building &amp; District Resources</h1>
      <hr class="divider bg-red">
    <div class="program-list program-list--forms">
    <ul class="list list-marked">
        {% for forms in entry.singleForms %}
  			{% for asset in forms.formsLink%}
          <li>
            <a href="{{asset.url}}">{{forms.formsTitle}}</a>
          </li>
  			{% endfor %}
      {% endfor %}
    </ul>
    </div>
  </section>
  <section>
    <h1>Career Exploration Resources</h1>
    <hr class="divider bg-red">
    <div class="program-list program-list--forms">
    <ul class="list list-marked">
      {% for block in entry.careerExplorationResources %}
        {% if block.type == "externalLink" %}
        <li>
          <a href= "{{block.externalUrl}}">{{ block.externalTitle }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul></div>
  </section>
</main>

{% endblock %}
