{#
 # Layout template
 # ---------------
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html class="wide wow-animation smoothscroll scrollTo" xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if entry is defined %}{{ entry }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
  <!-- Render SEO Metatags -->
    {% hook 'seomaticRender' %}
  <!-- Render Favicons -->
  	{% include '_includes/_favicons.html' %}
  <!--Begin Critical CSS -->
    <style type="text/css">
  	 {% include '_includes/critical.css' %}
    </style>
    <link href="{{ siteUrl }}assets/css/theme.css" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{{ siteUrl }}assets/css/style.css" type="text/css" rel="stylesheet" media="screen"/>

</head>

<body>
  <!-- Helper code for the Admin toolbar, only shown when logged in -->
      {% if entry is defined %}
      {% set config = {
        entry: entry,
      } %}
      {{ craft.adminbar.bar(config) }}
    {% endif %}

  <div class="page">



  {% block header %}
    {% include '_includes/_whiteHeader.html' %}
  {% endblock %}



  {% block subheader %}
    {% include '_includes/_subHeader.html' %}
  {% endblock %}


		<main class="page-content" role="main">
      <!-- Page Contents-->
          <div class="shell"> <!-- Begin Shell -->
      			{% block content %}
      				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
      				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
      			{% endblock %}
          </div>
		</main>

  {% include '_includes/_footer.html' %}

  <!-- Google Analytics Code - don't forget to change the UA ID -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','{{ siteUrl }}assets/js/min/analytics.js','ga');
      ga('create', 'UA-########-#', 'auto');
      ga('send', 'pageview');
    </script>
  {% if craft.config.devMode %}
  <!-- Live Reload - For local environment only -->
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}

  <script src="{{siteUrl}}assets/js/core.min.js" async></script>
  <script src="{{siteUrl}}assets/js/script.js" async></script>
  <script type="text/javascript" src="{{ siteUrl }}assets/js/min/scripts-min.js" async></script>
</div>
</body>
</html>
