{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block whiteHeader %}

<div id="home" data-type="anchor">
  <!--Swiper-->
  <div class="rd-parallax rd-parallax-swiper">
    <div class="rd-parallax-layer" data-speed="0.3" data-sm-speed="1" data-type="html">
      <div class="swiper-container swiper-slider" data-loop="true" data-height="100vh" data-dragable="false" data-min-height="480px">
        <div class="swiper-wrapper text-center">
          {% for asset in entry.featureImage %}
          <div class="swiper-slide" id="page-loader" data-slide-bg="{{asset.url('featureImage')}}" data-preview-bg="{{asset.url('featureImage')}}">
          {% endfor %}
            <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
              <div class="swiper-slide-caption">
                <div class="shell">
                  <div class="range range-lg-center">
                    <div class="cell-lg-12">
                      <h1><span data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.welcomeTitle }}</h1>
                      <h1><span class="big text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.welcomeTitle }}</span></h1>
                    </div>
                    <div class="cell-lg-10 offset-top-30">
                      <h4 class="hidden reveal-sm-block text-light" data-caption-animate="fadeInUp" data-caption-delay="900">{{ entry.body }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- after welcome picture -->
  {% endblock %}


{% block content %}
<!-- Page Contents-->
  <main class="page-content">
    <h3>{{ entry.pathwayTitle }}</h3>
    <div>
      <hr class="divider bg-red">
    </div>

    <div class="group group-xl offset-top-20 offset-xs-top-50">
      <a class="btn btn-primary btn-lg btn-anis-effect" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{ 'programs' }}">
      <span class="btn-text">View full list of programs[S]</span></a>
    </div>
    <br />
    <h3>{{ entry.admissionsTitle }}</h3>
    <div>
      <hr class="divider bg-red">
    </div>

    <p>{{entry.admissionsText}}</p>
  </main>


	{% include '_includes/_admissions.html' %}

  <h3>News | Upcoming Events[S]</h3>
  <div>
    <hr class="divider bg-red">
  </div>
  <div class="group group-xl offset-top-20 offset-xs-top-50">
    <a class="btn btn-primary btn-lg btn-anis-effect" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{ url('calendars') }}">
    <span class="btn-text">Full calendar[S]</span></a>
  </div>
  <br/>
    <br/>
      <br/>  <br/>
        <br/>
          <br/>


{% endblock %}
