{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block whiteHeader %}

<div id="home" data-type="anchor">
  <!--Swiper-->

          <div class="owl-carousel owl-carousel-testimonials-2" data-mouse-drag="true" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-nav-custom=".owl-custom-navigation" data-dots="false" data-nav="false">
            {% for asset in entry.featureImage %}
            <div class="rd-parallax rd-parallax-swiper">
              <div class="rd-parallax-layer" data-speed="0.3" data-sm-speed="1" data-type="html">
                <div class="swiper-container swiper-slider" data-loop="true"  data-dragable="true" data-min-height="480px">
                  <div class="swiper-wrapper text-center">
            <div class="carousel-featureImage swiper-slide" id="page-loader" data-slide-bg="{{asset.url('featureImage')}}" data-preview-bg="{{asset.url('featureImage')}}">
              <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
                <div class="swiper-slide-caption">
                  <div class="shell">
                    <div class="range range-lg-center">
                      <div class="cell-lg-12">
                        <h1><span data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.welcomeTitle }}</h1>
                        <h1><span class="big text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.welcomeSubtitle }}</span></h1>
                      </div>
                      <div class="cell-lg-10 offset-top-30">
                        <div class="reveal-sm-block text-light" data-caption-animate="fadeInUp" data-caption-delay="900">{{ entry.body }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
            {% endfor %}
          </div>
        <!--template <a href="clients.html"><img class="img-semi-transparent" src="images/clients/client-02-126x68.png" width="126" height="68" alt=""></a>-->

          <!--
          {% for asset in entry.featureImage %}
          <div class="swiper-slide" id="page-loader" data-slide-bg="{{asset.url('featureImage')}}" data-preview-bg="{{asset.url('featureImage')}}">
            <div class="swiper-caption swiper-parallax" data-speed="0.5" data-fade="true">
              <div class="swiper-slide-caption">
                <div class="shell">
                  <div class="range range-lg-center">
                    <div class="cell-lg-12">
                      <h1><span data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.welcomeTitle }}</h1>
                      <h1><span class="big text-uppercase" data-caption-animate="fadeInUp" data-caption-delay="700">{{ entry.welcomeSubtitle }}</span></h1>
                    </div>
                    <div class="cell-lg-10 offset-top-30">
                      <div class="reveal-sm-block text-light" data-caption-animate="fadeInUp" data-caption-delay="900">{{ entry.body }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}-->

  </div>
  <!-- after welcome picture -->
  {% endblock %}


{% block content %}
      <div class="home-wrap">
        <h3 class="home-box-left">{{ entry.pathwayTitle }}</h3>

          <a class="home-box-right" href="{{'programs'}}" ><text-link> View full list of programs > </text-link></a>
      </div>
      <div class="local-carousel owl-carousel owl-carousel-testimonials-2" data-mouse-drag="true" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="3" data-nav-custom=".owl-custom-navigation" data-dots="false" data-nav="false">
        {% for category in craft.categories.group('pathways') %}
          <a href="{{ 'programs' }}"><div class="local-carousel-image">
            {% for asset in category.featureImage %}
              <img src="{{asset.url('carouselImage')}}" alt=""/>
            {% endfor %}
            <h4><span>{{ category.title }}</span></h4>
          </div></a>
        {% endfor %}

        <!--template <a href="clients.html"><img class="img-semi-transparent" src="images/clients/client-02-126x68.png" width="126" height="68" alt=""></a>-->

      </div>
      <div class="nav owl-custom-navigation owl-customer-navigation">
        <div class="owl-nav">
          <div class="owl-prev mdi mdi-chevron-left" data-owl-prev></div>
          <div class="owl-next mdi mdi-chevron-right" data-owl-next></div>
        </div>
      </div>
      <a class="small-screen" href="{{'programs'}}" ><text-link> View full list of programs > </text-link></a>



          <div class="home-admissions-wrap">
            <h3>{{ entry.admissionsTitle }}</h3>
            <div class="home-admissionbox-left">
              <p>{{entry.admissionsText}}</p>
            </div>

            <div class="home-admissionbox-right">
              <div class="group group-xl">
                <a class="btn btn-primary btn-lg" data-caption-animate="fadeInUp" data-caption-delay="1200" href="{{ url('admissions') }}">
                <span class="btn-text">Admissions Criteria</span></a>
              </div>
            </div>

          </div>

          <div class="home-wrap">
            <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">


                  <ul class="home-box-left resp-tabs-list tabs-1 text-center tabs-group-default" data-group="tabs-group-default">
                    <li>News[S]</li>
                    <li>Upcoming Events[S]</li>
                  </ul>


                <a class="home-box-right" href="{{ url('news') }}"><text-link>View full calendar[S]</text-link></a>
                <!--<a class="same-line-right" href="{{ url('calendars') }}">View full calendar[S] ></a>-->





              <div class="news-container resp-tabs-container text-left tabs-group-default" data-group="tabs-group-default">
                <div>
                  {% for entry in craft.entries.section('news').limit(3) %}
      						<h3 class="offset-top-10"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
      						<span class="h6 text-light">{# {{ entry.dateTime.format('F d, Y') }} #}</span>
      						<p>{{ entry.body.getPage(1) }}</p>
      						<a class="btn btn-sm btn-primary offset-top-30" href="{{ entry.url }}">Read More[S]</a>
      						<hr>
      						{% endfor %}
                </div>

                <!-- tab 2 contenct -->
                <div>
                  <div class="events">
                    {% for entry in craft.entries.section('events').limit(3) %}
                      <div class="events-box">
                        <div class="border">
                        <div class="callendar-home-wraper">
                          <div class="callendar-top">
        										{% set day = entry.dateTime|date("l") %}
        										<p>{{day[:3]}}</p>
        									</div>
        									<div class="callendar-bottom">
        										<p>{{entry.dateTime.day()}}</p>
        									</div>
        								</div>
                        <a href="{{entry.url}}"><h3>{{entry.title}}</h3></a>
                        <p>{{entry.location}}</p>
                        <p>{# {{entry.startEndTime.localeTime()}} - {{entry.endTime.localeTime()}} #}</p>
                      </div>
                      </div>
                    {% endfor %}
                  </div>
                    <div class="events-smallscreen">
                      {% for entry in craft.entries.section('events').limit(1) %}

                          <div class="border">
                          <div class="callendar-home-wraper">
                            <div class="callendar-top">
          										{% set day = entry.dateTime|date("l") %}
          										<p>{{day}}</p>
          									</div>
          									<div class="callendar-bottom">
          										<p>{{entry.dateTime.day()}}</p>
          									</div>
          								</div>
                          <a href="{{entry.url}}"><h3>{{entry.title}}</h3></a>
                          <p>{{entry.location}}</p>
                          <p>{# {{entry.startEndTime.localeTime()}} - {{entry.endTime.localeTime()}} #}</p>
                          <div>

                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>

            </div>
            <a class="small-screen" href="{{ url('news') }}"><text-link>View full calendar[S]</text-link></a>
          </div>



  	<!-- {% include '_includes/_admissions.html' %}-->


{% endblock %}
