.admissions-program-listing {
  columns: 3;
  column-gap: 20px;
}
.admissions-button{
  width:100%;
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1{
    text-align:center;
}

.table-striped{
  margin-top: 30px;
}
.table-striped th{
  background-color:red;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
}
.adm-hr{
  height: 1px;
  background-color: black;
  margin-bottom: 100px;
}
.adm-events-wrapper{
  margin-top: 30px;
  padding: 40px 30px 50px 30px;
  background-color: #EAEAEA;
}
