* {
  box-sizing: border-box;
}
.rd-navbar-default.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-floated.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-logo-center.rd-navbar-static .rd-navbar-dropdown, .rd-navbar-default.rd-navbar-static .rd-navbar-cart-dropdown, .rd-navbar-floated.rd-navbar-static .rd-navbar-cart-dropdown, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-cart-dropdown, .rd-navbar-logo-center.rd-navbar-static .rd-navbar-cart-dropdown {
    margin-top: 20px;
}
.ui-to-top:hover {
    background: red;
}
.swiper-container-horizontal > .swiper-pagination.swiper-pagination-type-1 {
    bottom: 10px;
    width: 100%;
    margin: auto;

}

h4 {
  text-transform: uppercase;
  color: rgba(255,0,0,0.5);
  font-size: .9em;
}

.list-marked li:before {
  border-radius: 0;
  background-color: $red;
}
.margin-bottom-40px{
  margin-bottom: 40px;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li > a:after {
  background: $red;
}

.page blockquote.quote .text-primary, .page .text-primary {
  color: $red;
}
.swiper-slide-caption{
  padding: 0;
}

main {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}
.apply-button-whiteheader{
  position: absolute;
  right: 0;
    margin-right: 30px;
  border-radius: 10px;
}

.apply-button-blackheader{
  border-radius: 10px;
}
.center-button{
  display: block;
  margin: auto;
  width: 20%;
  border-radius: 10px;
}
.text-link{
  color: gray;
  font-size: 20px;
  position: relative;
  padding-right: 0.8em;
}
.text-link:hover{
  color: $red;
}

.text-link:after {
  content: "";
  background-image: url("../img/ui/arrow-right.svg");
  background-repeat: no-repeat;
  width: 9px;
  height: 15px;
  background-size: 100% auto;
  right: 0;
  position:absolute;
  top:20%;
}

.callendar-top, .callendar-bottom p{
  font-size: 16.5px;
  padding-top: 10px;
}
.callendar-top{
  background-color: $red;
  height:50%;
  color:white;
}

.callendar-bottom{
  background-color: white;
  height:50%;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: gray;
}

.flex1{

}

//------small screen desygn
@media only screen and (max-width: 500px) {
    .center-button{
      display: block;
      margin: auto;
      width: 100%;
      border-radius: 10px;
    }
    .apply-button-whiteheader{
      position: relative;
      border-radius: 10px;
      left: 33%;
      margin-top: 10px;
    }

    .home-wrap {
      display: inherit;
    }

    .apply-button-blackheader{
      border-radius: 10px;
    }
    h2{
      text-align: center;
    }
    .text-link{
      text-align: center;
      display: block;
      padding-top: 10px;
      padding-bottom: 20px;
      display: block;
    }
}
