* {
  box-sizing: border-box;
}

h4 {
  text-transform: uppercase;
  color: rgba(255,0,0,0.5);
  font-size: .9em;
}

.list-marked li:before {
  border-radius: 0;
  background-color: red;
}

.rd-navbar-default.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-floated.rd-navbar-static .rd-navbar-nav > li > a:after, .rd-navbar-top-panel.rd-navbar-static .rd-navbar-nav > li > a:after {
  background: red;
}

.page blockquote.quote .text-primary, .page .text-primary {
  color: red;
}
.swiper-slide-caption{
  padding: 0;
}

main {
  margin-top: 2.5em !important;
  margin-bottom: 2.5em !important;
}
.apply-button-whiteheader{
  position: absolute;
  right: 0;
  border-radius: 10px;
}

.apply-button-blackheader{
  border-radius: 10px;
}
