
.breadcrumb-classic {
  background: none;
  background-image: url("../img/ui/background-14-1920x651.jpg");
}

.breadcrumb-classic::before {
  background: none;
  background-image: url("../img/ui/background-14-1920x651.jpg");
}
