.local-carousel{
  background-color: black;
  padding: 10px 5px 10px 5px;
}
.local-carousel-image{
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  height: 210px;
  width:98%;

}
.small-screen{
  display: none;
}
.nav{
  position: absolute;
  right: 50%;
}

.local-carousel-image h4{
  position: absolute;
  margin-top: 0;
  color: white;
}
.local-carousel-image h4 span{
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.local-carousel-image h4 span.spacer{
  padding:0 5px;
}



.home-admissions-wrap{
  position:relative;
  height:250px;
  display:table;
  background-color: #EAEAEA;
  padding: 20px 105px 20px 105px;
  margin-top: 40px;
}
.home-admissionbox-left{
  margin-top: 30px;
  float: left;
  padding: 0px 30px 30px 0px;
  width:50%;
}
.home-admissionbox-right{
  margin-top: 30px;
  float:right;
  padding-left: 30px;
  width:40%;
}

.home-wrap{
  padding: 30px 105px 20px 105px;
  margin-bottom: 40px;
}
.home-box-left{
  float:left;
}
.home-box-right{
  float:right;
}
.news-container p{
  text-align: center;
}
.events{
  height:400px;
  display: flex;
  width:100%;
  padding: 50px 0px 10px 0px;

}
.events-box{

  width:33%;
  padding:10px;
  border-color: black;
  text-align: center;
    border: 2px solid gray;
}

//top and bottom in body.scss
.callendar-home-wraper{
  width: 120px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
  left: 30%;
  position: relative;
}
.events-smallscreen{
  display:none;

}

//-----smalscreen css

@media only screen and (max-width: 500px) {
  .home-wrap{
    padding: 10px;
    margin-bottom: 0px;
    display: flex;
    padding-bottom: 0px;
    white-space: nowrap;
    text-align: center;
    }
  .home-box-left {
      width: 100%;
    }
  .home-box-right{
      display: none;
    }
    .local-carousel{
      background-color: black;
      padding: 10px 5px 10px 5px;
    }
    .small-screen{
      display: block;
    }
    .home-admissions-wrap{
      padding: 20px 30px 20px 30px;
    }
    .home-admissionbox-right{
      display: none;
    }
    .home-admissionbox-left{
      padding: 0px 0px 30px 0px;
      width: 100%;
    }
    .events{
      display: none;
    }
    .events-smallscreen{
      height:400px;
      display: flex;
      width:100%;
      padding: 50px 0px 10px 0px;

    }
}
