.news-wraper{
  height: 1000px;
}
.news-lefttab{
  float:left;
  background-color: #EAEAEA;
  width:30%;
  height:inherit;
  padding: 80px 40px 40px 40px;
}
.news-righttab{
    float:right;
    width:70%;
    height:inherit;
    padding: 80px 40px 40px 100px;
}
.events-wrap{
  height:200px;
}
.events-day{
  float:left;
  height:inherit;
  width:30%;
  padding:18px;
}
.events-content{
  float:right;
  height:inherit;
  width:70%;
}
.callendar-wraper{
  width: 120px;
  height: 100px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-classic > li + li:not(:last-child).active > a, .pagination-classic > li + li:not(:last-child).active > span{
  background: $red;
  border-color: $red;
}

.rdc-panel {
  background: $red;
}

.rdc-table_today {
  background-color: $red;
}
